.enemyPhoto {
  /* border: solid 2px red; */
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-direction: column;
}

.enemyPhoto img {
  border-radius: 50%;
  border: solid 2px black;
  width: 100px;
}

.enemyPhoto p {
  text-align: center;
  margin-top: -5px;
  font-weight: 700;
}


.fightZone {
  margin: auto;
  width: 80%;
  height: 80%;
  border: solid 1px black;
  border-radius: 10px;
  backdrop-filter: blur(189px);
  background-image: url('../assets/fondo.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


.titlezone {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.fightZone .battle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  padding: 20px;
}

.enemyType {
  width: 200px;
  border-radius: 50%;
  padding: 50px;
  margin-top: -250px;
}

.yourType {
  border-radius: 50%;
  width: 200px;
  padding: 50px;
  margin-top: 250px;
}